resources:
- operator.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - config.yaml
  name: config
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
