apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: system
  labels:
    app.kubernetes.io/component: operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: operator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: operator
      labels:
        app.kubernetes.io/component: operator
    spec:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
      - key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
        effect: NoSchedule
      - key: node.kubernetes.io/not-ready
        effect: NoSchedule
        operator: Exists
      hostNetwork: true
      hostPID: true
      containers:
      - args:
        - "--health-addr=[$(HOST_IP)]:7085"
        - "--metrics-addr=[$(HOST_IP)]:7084"
        - "--webhook-addr=[$(HOST_IP)]:7443"
        command:
        - /manager
        env:
        - name: HBN_HOST_NEXTHOP
          value: fd00:7:caa5::1
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        image: ghcr.io/telekom/das-schiff-network-operator:latest
        imagePullPolicy: IfNotPresent
        name: operator
        ports:
        - containerPort: 7085
          name: health
          protocol: TCP
        - containerPort: 7084
          name: metrics
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: health
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: health
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
        - mountPath: /opt/network-operator
          name: network-config
      serviceAccountName: network-operator-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: config
        name: network-config
