# SPDX-FileCopyrightText: 2026 Deutsche Telekom AG
#
# SPDX-License-Identifier: CC0-1.0

.git
.github
bin/
out/
config/
docs/
hack/
*.md
LICENSE
NOTICE
CODEOWNERS
PROJECT
Makefile
.golangci.yml
.editorconfig
.dockerignore
.gitignore
.vscode/
*.Dockerfile
REUSE.toml
LICENSES/
