resources:
- agent.yaml
- service.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - frr.conf.tpl
  name: frr-template
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
