---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - secrets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - network.t-caas.telekom.com
  resources:
  - bgppeerings
  - layer2networkconfigurations
  - networkconfigrevisions
  - nodenetplanconfigs
  - nodenetworkconfigs
  - vrfrouteconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - network.t-caas.telekom.com
  resources:
  - bgppeerings/finalizers
  - layer2networkconfigurations/finalizers
  - networkconfigrevisions/finalizers
  - nodenetplanconfigs/finalizers
  - nodenetworkconfigs/finalizers
  - vrfrouteconfigurations/finalizers
  verbs:
  - update
- apiGroups:
  - network.t-caas.telekom.com
  resources:
  - bgppeerings/status
  - layer2networkconfigurations/status
  - networkconfigrevisions/status
  - nodenetplanconfigs/status
  - nodenetworkconfigs/status
  - vrfrouteconfigurations/status
  verbs:
  - get
  - patch
  - update
