apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: agent-cra-vsr
  namespace: system
  labels:
    app.kubernetes.io/component: agent-cra-vsr
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: agent-cra-vsr
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: agent-cra-vsr
      labels:
        app.kubernetes.io/component: agent-cra-vsr
    spec:
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
        - key: node.cloudprovider.kubernetes.io/uninitialized
          value: "true"
          effect: NoSchedule
        - key: node.kubernetes.io/not-ready
          effect: NoSchedule
          operator: Exists
      hostNetwork: true
      hostPID: true
      containers:
        - args:
            - "--nodenetworkconfig-path=/tmp/current-config.yaml"
            - "--health-addr=[$(HOST_IP)]:7081"
            - "--metrics-addr=[$(HOST_IP)]:7080"
          command:
            - /agent
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CRA_URL
              value: 169.254.33.1:830
            - name: CRA_USER
              value: admin
            - name: CRA_PASSWORD
              value: admin
            - name: CRA_TIMEOUT
              value: 30s
            - name: OPERATOR_NETHEALTHCHECK_CONFIG
              value: /opt/healthcheck/config.yaml
            - name: HOST_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          image: ghcr.io/telekom/das-schiff-nwop-agent-cra-vsr:latest
          imagePullPolicy: IfNotPresent
          name: agent-cra-vsr
          ports:
            - containerPort: 7081
              name: health
              protocol: TCP
            - containerPort: 7080
              name: metrics
              protocol: TCP
          securityContext:
            privileged: true
            runAsUser: 0
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - mountPath: /etc/cra/config/base-config.yaml
              name: base-config
            - mountPath: /opt/healthcheck/
              name: healthcheck-config
      terminationGracePeriodSeconds: 10
      serviceAccountName: controller-manager
      volumes:
        - hostPath:
            path: /etc/cra/base-config.yaml
            type: File
          name: base-config
        - configMap:
            name: healthcheck-config
          name: healthcheck-config
