[Unit]
Description=FRR CRA
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root

EnvironmentFile=/etc/default/frr-cra

Restart=on-failure
RestartSec=10

ExecStart=/usr/local/bin/frr-cra $ARGS

[Install]
WantedBy=multi-user.target
