[Unit]
Description=FRR CRA
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=10

ExecStart=/usr/sbin/ip vrf exec cluster /usr/local/bin/frr-cra

[Install]
WantedBy=multi-user.target
