---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: vrfrouteconfigurations.network.schiff.telekom.de
spec:
  group: network.schiff.telekom.de
  names:
    kind: VRFRouteConfiguration
    listKind: VRFRouteConfigurationList
    plural: vrfrouteconfigurations
    shortNames:
    - vrf
    singular: vrfrouteconfiguration
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vrf
      name: VRF
      type: string
    - jsonPath: .spec.seq
      name: Sequence
      type: integer
    - jsonPath: .spec.community
      name: Community
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VRFRouteConfiguration is the Schema for the vrfrouteconfigurations
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VRFRouteConfigurationSpec defines the desired state of VRFRouteConfiguration.
            properties:
              aggregate:
                description: Aggregate Routes that should be announced
                items:
                  type: string
                type: array
              community:
                description: Community for export, if omitted no community will be
                  set
                type: string
              export:
                description: Routes exported from the cluster VRF into the specified
                  VRF
                items:
                  description: VRFRouteConfigurationPrefixItem defines a prefix item.
                  properties:
                    action:
                      enum:
                      - permit
                      - deny
                      type: string
                    cidr:
                      description: CIDR of the leaked network
                      type: string
                    ge:
                      description: Minimum prefix length to be matched
                      type: integer
                    le:
                      description: Maximum prefix length to be matched
                      type: integer
                    seq:
                      description: Sequence in the generated prefix-list, if omitted
                        will be list index
                      maximum: 4294967295
                      minimum: 1
                      type: integer
                  required:
                  - action
                  type: object
                maxItems: 4294967295
                type: array
              import:
                description: Routes imported from this VRF into the cluster VRF
                items:
                  description: VRFRouteConfigurationPrefixItem defines a prefix item.
                  properties:
                    action:
                      enum:
                      - permit
                      - deny
                      type: string
                    cidr:
                      description: CIDR of the leaked network
                      type: string
                    ge:
                      description: Minimum prefix length to be matched
                      type: integer
                    le:
                      description: Maximum prefix length to be matched
                      type: integer
                    seq:
                      description: Sequence in the generated prefix-list, if omitted
                        will be list index
                      maximum: 4294967295
                      minimum: 1
                      type: integer
                  required:
                  - action
                  type: object
                maxItems: 4294967295
                type: array
              mtu:
                default: 9000
                description: The MTU of the VRF
                type: integer
              seq:
                description: Sequence of the generated route-map, maximum of 65534
                  because we sometimes have to set an explicit default-deny
                maximum: 65534
                minimum: 1
                type: integer
              vrf:
                description: VRF this configuration refers to
                maxLength: 12
                type: string
            required:
            - export
            - import
            - mtu
            - seq
            type: object
          status:
            description: VRFRouteConfigurationStatus defines the observed state of
              VRFRouteConfiguration.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
