---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: nodenetplanconfigs.network.t-caas.telekom.com
spec:
  group: network.t-caas.telekom.com
  names:
    kind: NodeNetplanConfig
    listKind: NodeNetplanConfigList
    plural: nodenetplanconfigs
    singular: nodenetplanconfig
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NodeNetplanConfig is the Schema for the nodenetplanconfigs API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              desiredState:
                properties:
                  network:
                    properties:
                      bonds:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      bridges:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      ethernets:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      modems:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      tunnels:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      version:
                        type: integer
                      vlans:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      vrfs:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                      wifis:
                        additionalProperties:
                          type: object
                          x-kubernetes-preserve-unknown-fields: true
                        type: object
                    type: object
                required:
                - network
                type: object
            type: object
          status:
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
