name: container-image

on:
  push:
    branches:
      - main

jobs:
  main-image:
    name: build "main" image
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        image: ["das-schiff-network-operator", "frr-exporter", "das-schiff-cra-frr", "das-schiff-nwop-agent-cra-frr", "das-schiff-nwop-agent-netplan"]
    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "^1.22"
      - name: Create Licenses Report
        run: |
          make licenses-report

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5.3.0
        with:
          context: .
          push: true
          tags: ghcr.io/telekom/${{ matrix.image }}:main
          file: ${{ matrix.image }}.Dockerfile
