name: container-image

on:
  push:
    branches:
      - main

jobs:
  main-image:
    name: build "main" image
    permissions:
      packages: write
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        image: ["das-schiff-network-operator", "das-schiff-cra-frr", "das-schiff-nwop-agent-cra-frr", "das-schiff-nwop-agent-cra-vsr", "das-schiff-nwop-agent-netplan", "das-schiff-nwop-agent-hbn-l2"]
        arch: ["amd64", "arm64"]
        include:
          - runner: ubuntu-latest
            arch: "amd64"
          - runner: ubuntu-24.04-arm
            arch: "arm64"
    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "^1.24"
      - name: Create Licenses Report
        run: |
          make licenses-report

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ghcr.io/telekom/${{ matrix.image }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          tags: ghcr.io/telekom/${{ matrix.image }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ${{ matrix.image }}.Dockerfile

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests-${{ matrix.image }}
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests-${{ matrix.image }}/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.image }}-${{ matrix.arch }}
          path: ${{ runner.temp }}/digests-${{ matrix.image }}/*
          if-no-files-found: error
          retention-days: 1

  release-main-image:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    needs:
      - main-image
    strategy:
      matrix:
        image: ["das-schiff-network-operator", "das-schiff-cra-frr", "das-schiff-nwop-agent-cra-frr", "das-schiff-nwop-agent-cra-vsr", "das-schiff-nwop-agent-netplan", "das-schiff-nwop-agent-hbn-l2"]
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ matrix.image }}-*
          merge-multiple: true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ghcr.io/telekom/${{ matrix.image }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'ghcr.io/telekom/${{ matrix.image }}@sha256:%s ' *)
