name: container-image

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build-and-release-images:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/build-images.yaml
    with:
      push: true
      sign: true
